* {
    text-decoration: none;
    background-color: #d6fcd4;
}

body {
    background-color: #d6fcd4;
    text-align: center;
}

header {
    position: absolute;
    right: 5%;
    top:5%;
    color: rgb(0, 111, 0);
}

#genre {
    width: 10%;
}

h1 {
    font-weight: bold;
    color: rgb(0, 111, 0); 
}

h2 {
    font-size: 15px;
}

table, td {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: auto;
    width: 30%;
}

h3 {
    position: absolute;
    left: 10.5%;
    top: 20%;
}