body {
    background-color: rgb(214, 252, 212);
    text-align: center;
    display: flex; 
    flex-direction: column; /* Stacks header and main content vertically */
}

header {
    display: flex;
    margin-bottom: 20px;
    color: rgb(0, 111, 0);
    justify-content: flex-end;
}

h1, h2 {
    color: rgb(0, 111, 0);
}

.flex-container, .table-container {
    display: flex; /* Use Flexbox */
    justify-content: space-evenly; /* Center the items */
    align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Space between flex items */
    padding: 0 20px; /* Add some padding for better spacing */
}

#tprogram {
    flex: 1; /* Take the largest space */
    order: 0; /* Ensure the Program section is in the middle */
    margin: 20px;
}

#bands-events {
    flex: 1; /* Takes the available space */
    display: flex;
    flex-direction: column;
    order: 1; /* Positioned to the right of Program */
    margin: 10px;
}


#tassbe {
    flex: 1; /* Takes the available space */
    order: 2; /* Ensure it is to the left (before Program) */
    margin: 10px;
    position: absolute;
    
}

.table-container {
    display: flex;
    justify-content: space-evenly; 
    overflow-x: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 111, 0);
}

/* Additional table styling */
#tableband, #tableevents, #tableprogram {
    border-radius: 25px;
    border: 2px solid rgb(0, 111, 0);
    background-color: rgb(214, 252, 212);
    max-height: 150px; 
    max-width: 200px;
    overflow-y: auto;
}


#tableprogram {
    max-height: 450px; /* Higher table for the program section */
}

#tableassbe {
    flex: 1;
    order: 0;
    margin: 10px;
}

button {
    cursor: pointer;
}

#createband, #createevent{
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}
