.table-container {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(214, 252, 212);
    text-align: center;
}

header {
    margin-bottom: 20px;
    position: absolute;
    right: 5%;
    top: 5%;
    color: rgb(0, 111, 0);
}

h1, h2 {
    color: rgb(0, 111, 0);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 111, 0);
}

th {
    color: rgb(0, 111, 0);
}

#createband {                     
    position: absolute;
    left: 35%;
    top: 20%;
}

#createevent {
    position: absolute;
    right: 35%;
    top: 20%;
}

button {
    cursor:pointer;
}

/*link*/

#tbands {
    position: absolute;
    right: 17%;
    top: 15%;
}

#tableband {
    position: absolute;
    right: 13%;
    top: 25%;
    border-radius: 25px;
    border: 2px solid rgb(0, 111, 0);
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: rgb(214, 252, 212);;
    border-style: solid;
    border-color: rgb(0, 111, 0);
}

#tevents {
    position: absolute;
    right: 17%;
    top: 50%;
}

#tableevents {
    position: absolute;
    right: 5%;
    top: 60%;
    border-radius: 25px;
    border: 2px solid rgb(0, 111, 0);
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: rgb(214, 252, 212);;
    border-style: solid;
    border-color: rgb(0, 111, 0);
}

#tassbe {
    position: absolute;
    left: 10%;
    top: 15%;
}

#tableassbe {
    position: absolute;
    left: 13%;
    top: 25%;
    border-radius: 25px;
    border: 2px solid rgb(0, 111, 0);
    padding: 20px;
    width: 150px;
    height: 100px;
}

#tableprogram {
    position: center;
    border-radius: 25px;
    border: 2px solid rgb(0, 111, 0);
    padding: 20px;
    width: 300px;
    height: 200px;
}


